{% extends 'layout.html' %}

{% block body %}
 <br><br><br><br>
 	<div class="jumbotron text-center">
 		<h4>Link of the Git Repository</h4>
 		<a href="https://github.com/anuj378/Digit-Recognizer-Project" title="Digit-Recognizer-Project"> Digit-Recognizer-Project</a>
 		
 	</div>
 	 	<div class="jumbotron text-center">
 		<h4>Experience (MEDIUM BLOG)</h4>
 		<a href="https://medium.com/forsk-labs/project-implementation-experience-digit-recognizer-for-handwritten-input-images-through-cnn-3a450e58b3b1" title="Digit-Recognizer-Project MEDIUM BLOG"> <b>[PROJECT IMPLEMENTATION & EXPERIENCE]</b> - (Digit Recognizer using CNN) as a trainee at Forsk Technologies</a>
 		
 	</div>
{% endblock %}